
body {
	font-family: Georgia;
	color: #000000;
	background-color: #ffffff;
	font-size: 14px;
	margin: 20px 40px;
}	
a {
	text-decoration: none;
}
h1 {
	font-size: 40px;
	font-weight: normal;
	margin: 0 0 1em 0;
}

article {
	margin-bottom: 50px;
}
h2 {
	font-weight: normal;
	font-size: inherit;
	margin: 0;
}
.title {
	font-size: 18px;
}
.quote {
	color: #909090;
	font-size: 12px;
}
.description {
	color: #909090;
	margin-bottom: 10px;
}
.image {
	max-width: 520px;
}
.image img {
	max-width: 100%;
	height: auto;
}
